a {
  cursor: pointer;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.jumbotron {
  padding: 2rem;
}

/*override rc-switch styles*/
.rc-switch {
  width: 80px !important;
  background-color: rgba(5, 255, 15, 0.5) !important;
}
.rc-switch-checked:after {
  left: 60px !important;
}
.rc-switch-checked {
  background-color: rgba(250, 5, 15, 0.5) !important;
}

/* react table */
.ReactTable .rt-td {
  padding: 0;
  text-align: end;
}