node_modules
npm-debug.log
.idea
artifacts/*
fabric-rest-api.iml
fabric-rest-api.ipr
fabric-rest-api.iws
.gradle

/fabric-starter.ipr
/fabric-starter.iml
/ledger/docker-compose-*.yaml
/fabric-starter.iws
/ledger/docker-compose-*.yaml-e
/www/artifacts/*.block
/dockercompose/*.yaml
/logs

.tmp
